.banner-container {
  width: 100%;
  min-height: 400px !important;
  background-image: url("../assets//images/header_banner.jpg");
  position: relative;
}

.awards-text {
  color: #fff;
  font-size: 4.1875em;
  line-height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
