.navbar {
  background: none;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 1em;
  line-height: 2.25em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.05em;
  line-height: 3.1904761905em;
}
